<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>709401499425-319a5jmoctmoupe7nh6m37svt70mhr5m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.709401499425-319a5jmoctmoupe7nh6m37svt70mhr5m</string>
	<key>API_KEY</key>
	<string>AIzaSyACBvt-IUU3LTmU1u_XcUvSUUOggDlbi84</string>
	<key>GCM_SENDER_ID</key>
	<string>709401499425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RevWon.SnapChat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-eb124</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-eb124.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:709401499425:ios:15a2b9c3d6c1c247</string>
	<key>DATABASE_URL</key>
	<string>https://snapchat-eb124.firebaseio.com</string>
</dict>
</plist>